<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <%= form_for(@recipe, :html => {role: "form"}) do |f| %>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %>
      <div class="col-4">
        <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>
      </div>
    </div>
    <div class="mb-3">
      <%= f.label :description, class: "form-label" %>
      <div class="col-8">
        <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps to create recipe" %>
      </div>
    </div>
    <div class="mb-3">
      <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb| %>
        <% cb.label(class: "form-check-label") {cb.check_box(class: "form-check-input") + cb.text} %>
      <% end %>         
    </div>    
    <div class="form-group">
      <% if @recipe.images.attached? %>
        <% @recipe.images.each do |image|  %>
          <%= image_tag image, style:"width:200px; display: block;" %>
        <% end %>
      <%end%>
    <br>
      <%= f.label :Add_your_images, class: "form-label" %>
      <%= f.file_field(:images, class: "form-control-file", accept: 'image/png,image/gif,image/jpeg', multiple: true) %>
    </div>
    <%= f.submit class: "btn btn-primary btn-lg" %>
  <% end %>
  <div class="offset-4 colormatch">
    [ <%= link_to "Cancel request and return to recipes listing", recipes_path %> ]
  </div>
</div>