<%= render 'shared/page_title', title: "showing all recipes" %>

<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-2">
      <section class="chef_info center">
        <%= gravatar_for(recipe.chef, size: 120) %>
      </section>
    </div>
    <div class="col-5 card card-body bg-light">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= truncate(recipe.description, length: 150) %></p>
      <p>
        <span class="quiet"><small>Created <%= time_ago_in_words(recipe.created_at) %> ago</small></span>
      </p> 
    </div>
  </div>
  <p />
<% end %>